previewsEnabled: false

databases:
  - name: lightdash-database
    ipAllowList: []
    plan: basic-256mb
    region: frankfurt

services:
  - type: pserv
    name: headless-browser
    runtime: image
    plan: starter
    region: frankfurt
    image:
      url: browserless/chrome:1.60.1-chrome-stable
    envVars:
      - key: PORT
        value: "3000"
      - key: HOST
        value: "0.0.0.0"
      - key: DEFAULT_LAUNCH_ARGS
        value: '["--no-sandbox","--disable-dev-shm-usage","--disable-remote-fonts"]'
      - key: TIMEOUT
        value: "500000"      # 500s total session time (use "-1" to disable)
  - type: web
    plan: starter
    region: frankfurt
    env: docker
    name: lightdash-server
    dockerContext: .
    dockerfilePath: dockerfile
    envVars: 
      - key: PGHOST
        fromDatabase:
          name: lightdash-database
          property: host
      - key: PGPORT
        fromDatabase:
          name: lightdash-database
          property: port
      - key: PGDATABASE
        fromDatabase:
          name: lightdash-database
          property: database
      - key: PGUSER
        fromDatabase:
          name: lightdash-database
          property: user
      - key: PGPASSWORD
        fromDatabase:
          name: lightdash-database
          property: password
      - key: TRUST_PROXY
        value: true
      - key: SECURE_COOKIES
        value: true
      - key: LIGHTDASH_SECRET
        generateValue: true
      - key: HEADLESS_BROWSER_HOST
        fromService:
          name: headless-browser
          type: pserv
          property: host
      - key: HEADLESS_BROWSER_PORT
        fromService:
          name: headless-browser
          type: pserv
          property: port
      - key: USE_SECURE_BROWSER
        value: false
      - key: S3_ENDPOINT
        sync: false
      - key: S3_REGION
        sync: false
      - key: S3_BUCKET
        sync: false
      - key: S3_ACCESS_KEY
        sync: false
      - key: S3_SECRET_KEY
        sync: false
